{% extends "esqueleto.html" %}
{% block contenido %}


        <div class="row">

            <div class="col-2"></div>

            <div class="col-8">

                <h1>Mis Historias</h1>

            </div>

            <div class="col-2"></div>
        </div>

        {% if numHistorias > 0 %}

            {% include "listadoHistorias.html" %}

            {% if numHistorias > numHistoriasMostrar - 5 %}
            <div class="row">

                <div class="col" align="center">
                    <a href="/misHistorias?numHistoriasMostrar={{ numHistoriasMostrar }}"><strong>más historias ... </strong></a>
                </div>

            </div>
            {% endif %}

        {% else %}

        <div class="row">

            <div class="col-2"></div>

            <div class="col-8">

                <p>No hay historias que mostrar ... </p>

            </div>

            <div class="col-2"></div>
        </div>

        {% endif %}

{% endblock %}





